body {
    background-color: #191919;
    color: lightgray;
    margin: 0;
    padding: 0;
	user-select: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.current-lesson {
    border: 3px ridge #d30000;
}
.current-break {
    border-bottom: 3px ridge #00c91b;
}
.break-after-lesson {
    border-top: 3px ridge #00c91b;
}
table {
    border: 3px ridge black;
}
td {
    /* padding-bottom: 1px; */
    border: 2px solid black;
    min-width: 70px;
    cursor: pointer;
    line-height: 1.4em;
}
.nrLekcji {
    text-align: center;
    font-weight: bold;
	min-width: 15px;
}
.gray {
	background-color: #2E2E2E;
}
.odwolana {
    cursor: default;
}